anndata==0.8.0
anndata2ri==1.1
cffi==1.15.1
contourpy==1.0.5
cycler==0.11.0
dunamai==1.13.1
fonttools==4.37.4
get-version==3.5.4
gitdb==4.0.9
gitpython==3.1.27
h5py==3.7.0
jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
markupsafe==2.1.1
matplotlib==3.6.0
natsort==8.2.0
networkx==2.8.7
numba==0.56.2
numexpr==2.8.3
numpy==1.23.3
packaging==21.3
pandas==1.5.0
patsy==0.5.2
pillow==9.2.0
pyan3==1.1.1
pycallgraph3==1.1.4
pycparser==2.21
pynndescent==0.5.7
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
rpy2==3.5.4
scanpy==1.8.2
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
setuptools==59.8.0
sinfo==0.3.4
six==1.16.0
smmap==5.0.0
statsmodels==0.13.2
stdlib-list==0.8.0
tables==3.7.0
threadpoolctl==3.1.0
tqdm==4.64.1
tzdata==2022.4
tzlocal==4.2
umap-learn==0.3.10