anndata
anndata2ri
cffi
contourpy
cycler
dunamai
fonttools
get-version
gitdb
gitpython
h5py
jinja2
joblib
kiwisolver
llvmlite
markupsafe
matplotlib
natsort
networkx
numba
numexpr
numpy
packaging
pandas
patsy
pillow
pyan3
pycallgraph3
pycparser
pynndescent
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
rpy2
scanpy
scikit-learn
scipy
seaborn
setuptools
sinfo
six
smmap
statsmodels
stdlib-list
tables
threadpoolctl
tqdm
tzdata
tzlocal
umap-learn