anndata2ri==1.1
brotlipy==0.7.0
GitPython==3.1.29
gseapy==1.0.0
jupyter==1.0.0
jupyterlab==3.5.0
pipdeptree==2.3.3
pyan3==1.2.0
pyarrow==9.0.0
pyOpenSSL==22.0.0
PyQt5-sip==12.11.0
PySocks==1.7.1
sinfo==0.3.4
sip==6.6.2
squidpy==1.2.3
tables==3.7.0
tangram-sc==1.0.3
TBB
testpath==0.6.0
wget==3.2
wheel==0.37.1
