anndata
anndata2ri
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
brotlipy
certifi
cffi
charset-normalizer
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
dunamai
entrypoints
executing
fastjsonschema
fonttools
get_version
gitdb
GitPython
graphviz
h5py
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
natsort
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numba
numexpr
numpy
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
pip
ply
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pycparser
Pygments
pynndescent
pyOpenSSL
pyparsing
PyQt5-sip
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
qtconsole
QtPy
requests
rpy2
scanpy
scikit-learn
scipy
seaborn
Send2Trash
setuptools
sinfo
sip
six
smmap
sniffio
soupsieve
stack-data
statsmodels
stdlib-list
tables
terminado
testpath
threadpoolctl
toml
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
umap-learn
urllib3
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
