anndata
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
Bottleneck
brotlipy
certifi
cffi
charset-normalizer
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools
h5py
idna
importlib-metadata
importlib-resources
jedi
Jinja2
joblib
json5
jsonschema
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
natsort
nest-asyncio
networkx
notebook
numba
numexpr
numpy
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
pip
pkgutil-resolve-name
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pynndescent
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
requests
scanpy
scikit-learn
scipy
seaborn
Send2Trash
session-info
setuptools
six
soupsieve
stack-data
statsmodels
stdlib-list
terminado
testpath
threadpoolctl
torch
tornado
tqdm
traitlets
typing-extensions
umap-learn
urllib3
wcwidth
webencodings
wheel
zipp
